#burger {display: block; background-color: none; position: fixed;}
#burger .burgerBox {background-color: none; position: relative; width: 100%;}

span.iconInactive {transform: scaleY(0.1) translateX(-50%) rotate(-135deg); opacity: 0; cursor: unset;}

@media only screen
and (orientation : portrait)
{
    #burger {
        width: 100vw;
        height: 100vh;
        z-index: 15;
        top: -100vh;
        text-align: left;
        transition: 1s;
    }
        #burger .burgerBox {margin: 0vh 0vw 5vh 0vw; min-height: 18vh;}
        #burger .burgerBox p {color: white; margin: 0vh 0vw 5vh 10vw; display: block;}
    
        #burger.burgerOpen {top: 0vh; background-color: rgba(0, 0, 0, 0.55);}
}

@media only screen 
and (orientation : landscape)
{}