@media only screen
and (orientation : landscape) {
    #node-bottom {bottom: 0px;}

#preloadBar {top: 60%; width: 25vw;}
#header {
    background-image: url("../images/desktop/menu01.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
#oneBoxExtra p {margin: 1vh 0vw 0vh 0vw;}
    #oneBoxExtra b {display: inline-block; margin: 0vh 0vw 0vh 0vw;}
#breakIcon {display: block;}

#breakOne {top: 77vh; height: 50vh;}
#breakSubG {top: 95vh;}

#contentTwo, #particles-js {top: 100vh; width: 100vw;}
#cTwoBoxes {margin: 0; height: 60vh;}
    .cTwoBox {display: inline-table; perspective: 1000px;}
    .ctbActive {height: 50vh;}
        .twoBoxHead p {cursor: unset; margin: 2vh 1vw 5vh 1vw;}
#cTwoCert {left: 50vw; bottom: 10vh; transform: translate(-50%, 0%);}

#formPage {top: 30vh; width: 30vw; height: 30vh;}
#formPage.pageActive{left: 100vw;} /*!*/

#certifPage, #kontaktPage {width: 100vw; padding: 30vh 0vw 0vh 0vw;}
#certifPage {min-height: 100vh; position: absolute;}
#kontaktPage {height: 70vh; position: fixed;}

#certifPage b, #kontaktPage b {margin: 0vh 5vw;}
    .cPageBox {margin: 8vh 5vw 0vh 5vw;}
#kontaktPage #wrap {position: absolute; left: 0px;}
#kontaktPage iframe {position: absolute; top: 10vh; right: 0px; height: 90vh; box-shadow: 0 0 5vw #aaa;}
html.scrollFix {overflow: hidden;}
}
@media only screen
and (min-width : 1200px)
and (orientation : landscape) {
    #burger {
        width: 70vw;
        height: 25vh;
        z-index: 21;
        top: 0vh;
        left: 30vw;
        text-align: right;
        transition: 0.2s;
    }
        #burger .burgerBox {position: absolute; top: 25%; transform: translate(-0%,-20%);}
        #burger .nullBox {display: none;}
        #burger .burgerBox p {color: #888; margin: 0vh 7vw 0vh 0vw; display: inline-block; vertical-align: middle;}
    
        #burger.burgerOpen {background-color: none;}
    
    #header {height: 25vh;}
    #headerLeft {flex: 30%;}
        #headerLeft img {top: 10vh; left: 13vw; margin: 0; height: 9vh;}
    #headerRight {flex: 70%; height: 50%;}
        #headerRight span {display: none;}
    
    #contentOne {background-image: url("../images/desktop/img01.jpg");}
    #cOneBox {width: 35vw; height: 15vh;}
    #oneBoxExtra {padding: 0vh 2vw;}
    #breakIcon {display: block;}
    
    #contentTwo {min-height: 50vh; padding: 25vh 0vw;}
    #cTwoLine {width: 70vw; height: 49vh;}
    #cTwoBoxes {margin: 0; height: 60vh;}
        .cTwoBox {width: 18vw; height: 50vh; margin: 5vh 1vw;}
            .tbhPic {width: 8vw; height: 10vh; margin: 4vh 5vw;}
        .twoBoxTail {height: 10vh;}
    .formBody button {height: 6vh; line-height: 6vh;}
    .formBody button img {height: 3vh; line-height: 6vh; margin: 0vh 0vw 0.5vh 2vw;}
    .kPageBox {margin: 3vh 5vw 0vh 5vw;}
    .kPageBox h1 {margin: 5vh 0vw;}

    #kontaktPage iframe {width: 55vw;}
}
@media only screen
and (min-width : 2600px)
and (orientation : landscape) {
    #header {height: 20vh;}
    #burger .burgerBox {transform: translate(-0%,-35%);}
}
@media only screen
and (min-width : 3300px)
and (min-height : 1500px)
and (orientation : landscape) {
    #breakOne {height: 80vh !important;}
    #contentTwo, #particles-js {top: 120vh !important;}
}
@media only screen
and (min-width : 1200px)
and (max-height : 850px)
and (orientation : landscape) {
    html {font-size: 75%;}
    #headerLeft img {height: 11vh !important;}
    #breakOne {height: 80vh !important;}
    #contentTwo, #particles-js {top: 130vh !important;}
    #cTwoCert {bottom: 5vh !important;}
}
@media only screen
and (min-width : 1200px)
and (max-width : 1440px)
and (orientation : landscape) {
    #contentTwo {padding: 25vh 0vw;}
    #cTwoLine {width: 85vw;}
    .cTwoBox {width: 23vw; height: 50vh; margin: 5vh 1vw;} 
    .tbhPic {width: 13vw; margin: 4vh 5vw;}
}
@media only screen
and (max-width : 1200px)
and (orientation : landscape) {
#burger {
    width: 100vw;
    height: 100vh;
    z-index: 15;
    top: -100vh;
    text-align: left;
    transition: 1s;
}
    #burger .burgerBox {margin: 0vh 0vw 15vh 0vw; height: 13vh;}
    #burger .burgerBox p {color: white; margin: 0vh 0vw 5vh 10vw; display: block;}
    
    #burger.burgerOpen {top: 0vh; background-color: rgba(0, 0, 0, 0.55);}

#header {height: 25vh;}
#headerLeft {flex: 80%;}
    #headerLeft img {top: 11vh; left: 15vw; margin: 0; height: 9vh;}
#headerRight {flex: 20%; height: 70%;}
    #headerRight span {display: block;}

#contentOne {background-image: url("../images/mobile/img01.jpg");}
#cOneBox {width: 40vw; height: 15vh;}
#oneBoxExtra {padding: 0vh 2vw;}
#breakIcon {display: none;}

#contentTwo {min-height: 70vh; padding: 25vh 0vw;}
#cTwoLine {width: 88vw; height: 49vh;}
    .cTwoBox {width: 24vw; height: 50vh; margin: 5vh 1vw;}
        .tbhPic {width: 14vw; height: 10vh; margin: 4vh 5vw;}
    .twoBoxTail {height: 10vh;}
    .formBody button {height: 8vh; line-height: 8vh;}
    .formBody button img {height: 4vh; line-height: 8vh; margin: 0vh 0vw 1vh 2vw;}
    .kPageBox {margin: 3vh 5vw 0vh 5vw;}
    .kPageBox h1 {margin: 5vh 0vw;}
#kontaktPage iframe {width: 55vw;}
}
@media only screen
and (max-height : 450px)
and (orientation : landscape) {
#cOneBox {width: 60vw; height: 25vh;}
    #oneBoxExtra {padding: 0vh 2vw;}

#contentTwo {min-height: 80vh; padding: 25vh 0vw;}
#cTwoLine {width: 88vw; height: 59vh;}
    .cTwoBox {width: 24vw; height: 60vh; margin: 5vh 1vw;}
        .tbhPic {width: 14vw; height: 10vh; margin: 4vh 5vw;}
    .twoBoxTail {height: 10vh;}
    .formBody button {height: 8vh; line-height: 8vh;}
    .formBody button img {height: 4vh; line-height: 8vh; margin: 0vh 0vw 1vh 2vw;}
    .kPageBox {margin: 2vh 5vw 0vh 5vw;}
    .kPageBox h1 {margin: 3vh 0vw;}
#kontaktPage iframe {width: 50vw;}
}
@media only screen
and (max-height : 320px)
and (orientation : landscape) {
#cOneBox {width: 70vw; height: 25vh;}
    #oneBoxExtra {padding: 0vh 2vw;}

#contentTwo {min-height: 90vh; padding: 25vh 0vw;}
#cTwoLine {width: 88vw; height: 69vh;}
    .cTwoBox {width: 24vw; height: 70vh; margin: 5vh 1vw;}
        .tbhPic {width: 14vw; height: 10vh; margin: 4vh 5vw;}
    .twoBoxTail {height: 10vh;}
    .formBody button {height: 8vh; line-height: 8vh;}
    .formBody button img {height: 4vh; line-height: 8vh; margin: 0vh 0vw 1vh 2vw;}

    .kPageBox {margin: 2vh 5vw 0vh 5vw;}
    .kPageBox h1 {margin: 3vh 0vw;}
#kontaktPage iframe {width: 45vw;}
}